*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styles.css */



.pCard-Container {

    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    width: 100%;
    grid-gap: 0.5em;
    margin-top: 14em;
    padding: 7em 0;
    position: relative;

    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 2em;
    grid-template-columns: repeat(2, 37%);
    grid-template-rows: repeat(2, 50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-image: url('../assets/about.jpg');
}

.pCard-Container::before {
    content: '';
    /*background: #1A1A1A;   */
    background: #1A1A1A;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.projectcard {
    height: 100%;
    border-radius: 7px;
    width: 65%;
    padding: 1rem;
    background: #1A1A1A;
    z-index: 1;
    border: none;
    transition: transform 0.5s ease-in-out;
    align-self: center;
}

/*.projectcard:hover {
    z-index: 2;
    cursor: pointer;
    transform: scale(1.4);
    border-radius: 5px;
}*/

.projectcard .source {
    background: rgb(222, 193, 150);
    background: linear-gradient(120deg, rgba(222, 193, 150, 1) 44%, rgba(152, 118, 84, 0.9542191876750701) 83%);
    border-radius: 5px;
    padding: 0.5em 0.8em;
    font-size: 1.2rem;
    font-weight: 600;
    transition: transform ease-in-out 0.2s;
}

.projectcard .view {
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5em 0.8em;
    background: rgb(222, 193, 150);
    background: linear-gradient(120deg, rgba(222, 193, 150, 1) 44%, rgba(152, 118, 84, 1) 84%);
    transition: transform ease-in-out 0.2s;
}



.projectcard .view:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.projectcard .source:active {
    transform: scale(0.95);
}





.project-image {
    width: 100%;
    border-radius: 5px;
    height: 21em;
}

.projectcard h4 {
    font-family: 'valorant';
    font-size: 1.5rem;
    margin: 0.3em;
    /** TEXT GRADIENT */
    color: #dec196;
    background-image: -webkit-radial-gradient(circle, #dec196 25%, #987654 85%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.projectcard p {
    font-size: 1rem;
    margin: 0.3em;
    margin-bottom: 2em;
    color: rgb(222, 193, 150);
    color: linear-gradient(120deg, rgba(222, 193, 150, 1) 44%, rgba(152, 118, 84, 1) 84%);

}

.projectcard div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.projectcard a {
    margin: 0.2em 0.2em 0.8em 0.2em;
}

@media (max-width:800px) {
    .project-body-container {
        width: 100%;
        overflow-wrap: break-word;
    }

    .pCard-Container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 1em;
        justify-items: center;
        margin-top: 5em;
        margin-bottom: 3em;
        padding: 1em;
        border: 1px solid rgb(233, 220, 220);
    }

    .scroll-project-container {
        align-self: center;
    }

    .projectcard div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .projectcard {
        width: 80%;
        padding: 0.8rem;
    }

    .projectcard h4,
    p,
    a {
        margin: 1em;
        margin-left: 0;
        font-size: 1rem;
    }

}

@media only screen and (max-width : 500px) {
    .project-body-container {
        width: 100%;
        overflow-wrap: break-word;
    }

    .pCard-Container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
    }


    .projectcard {
        width: 80%;
        padding: 0.8rem;
        margin: 3em 0;
    }

    .pCard-Container:first-child {
        margin-top: 4em;
    }

    .projectcard h4 {
        font-size: 1.8rem;
        margin: 0.5em 0 0.8em 0;
    }

    .projectcard p {
        font-size: 1.1rem;
    }

    .projectcard p,
    a {
        margin: 0.2em 0.2em 0.8em 0.2em;
    }

}

.headline-div {
    margin: 5em auto;
    text-align: center;
    width: 100vw;
}

.project-headline {
    font-family: 'valorant';
    font-size: 5rem;
    /** TEXT GRADIENT
    color: #45a585;
    background-image: -webkit-linear-gradient(45deg, #45a585 28%, #753690 71%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 1px 5px -webkit-linear-gradient(45deg, #45a585 28%, #753690 71%);;*/
    /** TEXT GRADIENT */
    color: #dec196;
    background-image: -webkit-linear-gradient(45deg, #dec196 41%, #987654 50%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation: customAni 2s ease-in-out 0s 1 normal backwards;
}

@keyframes customAni {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}








.sub-headline {
    color: #dec196;
    background-image: -webkit-linear-gradient(45deg, #dec196 41%, #987654 50%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    width: 30em;
    margin: 1.5em auto;
}

@media (max-width:500px) {
    .project-headline {
        font-size: 2.5rem;
    }

    .sub-headline {
        width: 85%;
        font-size: 1.1rem;
    }
}